.note-list {
  span[primary] {
    font-size: 1.7rem;
  }
  span.time {
    font-size: 2.2rem;
  }
  ion-col[gray] {
    padding-bottom: 0;
  }
  ion-col[primary] {
    padding-top: 0;
    font-size: 1.7rem;
  }
  ion-grid {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 11px 0!important;
    margin-top: 16px;
  }

  ion-list ion-grid:last-child{
    border: none;
  }
  ion-list ion-grid:first-child{
    margin-top: 0;
  }
  ion-list ion-grid.more{
    margin-top: 0;
  }
}
